nav {
  background: #000;
  background: rgba(0,0,0,0.7);

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;

    li {

      &#menu {
        width: 1.875rem;
        height: 2.5rem;
        margin-left: 0.625rem;
        color: transparent;
        font: 0/0 a;
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          width: 1.875rem;
          height: 4px;
          background: $color-nav;
          border-radius: 2px;
          position: absolute;
          left: 0;
          top: 8px;
          box-shadow: 0 10px 0 $color-nav, 0 20px 0 $color-nav;
          pointer-events: none;
        }
      }

      &#menu-list {
        height: 0;
        overflow: hidden;
        transition: height 0.25s ease-in-out;
      }

      ul {

        li {
            border-top: 1px solid $color-nav;
          
          a {
            color: $color-nav;
            text-align: center;
            text-decoration: none;
            font: normal normal normal 1.25rem/2em $font-stack-text;
            display: block;
          }
        }
      }

    }
  }
}